// @num: 20;定义一个变量，用来保存将来用户用来分多少份

@num: 20;

// 适配320px
@media only screen and (width:320px) {
    html {
        font-size: 320px/@num;
        height: 100%;
    }
}

// 适配360px
@media only screen and (width:360px) {
    html {
        font-size: 360px/@num;
        height: 100%;
    }
}

// 适配375px
@media only screen and (width:375px) {
    html {
        font-size: 375px/@num;
        height: 100%;
    }
}

// 适配414px
@media only screen and (width:414px) {
    html {
        font-size: 414px/@num;
        height: 100%;
    }
}

// 适配768px
@media only screen and (width:768px) {
    html {
        font-size: 768px/@num;
        height: 100%;
    }
}

// 适配1024px
@media only screen and (width:1024px) {
    html {
        font-size: 1024px/@num;
        height: 100%;
    }
}